{% extends "base.html" %}

<!-- MENU Section  -->

{% block menu %}
<!-- menu.html -->
<div id="menu" class="container-fluid text-muted py-5 text-center wow fadeIn">
    <h2 class="section-title  py-5">Nuestro menú</h2>

    <div class='row justify-content-center'>
        <div class='pills col-12 mb-5'>
            <ul class='nav nav-pills nav-justified mb-3' id='pills-tab' role='tablist'>
                {% for categoria in categorias %}
                    <li class='nav-item'>
                        <a class='nav-link {% if forloop.first %}active{% endif %}' id='pills-home-tab' data-toggle='pill' href='#{{ categoria.nombre }}' role='tab'
                            aria-controls='pills-home' aria-selected='true'>
                            {{ categoria.nombre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="dropdown-center text-muted mb-3">
            <a class="categorias-button btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </a>

            <ul class="dropdown-menu nav-pills text-center" id='pills-tab' role='tablist'>
                {% for categoria in categorias %}
                    <li>
                        <a class='dropdown-item' data-toggle='pill' href='#{{ categoria.nombre }}'>
                            {{ categoria.nombre }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-content" id="pills-tabContent">
        {% for categoria in categorias %}
            <div class='tab-pane {% if forloop.first %}show active{% endif %}' id='{{ categoria.nombre }}' role='tabpanel'>
                <div class='row'>
                    {% if categoria.platillo_set.exists %}
                        {% for platillo in categoria.platillo_set.all %}
                            <div class='col-sm-6 col-md-6 col-lg-3'>
                                <div class='card bg-transparent border my-3 my-md-0'>
                                    <img src='{{ platillo.imagen.url }}' alt='{{ platillo.nombre }}' class='rounded-0 card-img-top' width='500'>
                                    <div class='card-body'>
                                        <h1 class='text-center mb-4'>
                                            <a href='#{{ platillo.categoria.nombre }}' class='badge badge-primary'>${{ platillo.precio }}</a>
                                        </h1>
                                        <h4 class='pt20 pb20'>{{ platillo.nombre }}</h4>
                                        <p>{{ platillo.descripcion }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
